@import "tailwindcss";

@theme{
  --color-background: #1b1613;
  --color-text-body: #948E87;
  --color-text-darker: #6F6962;
  --color-accent-outer: #3d372b;
  --color-accent-inner: #28241b;

  --color-card-offer: #817866;
  --color-card-applied: #9c9549;
  --color-card-interview: #30375f;
  --color-card-rejected: #a70000;
  --color-card-ghosted: #424a4e;
  --color-card-accepted: #5d6b49;
}

@layer base{

  html{
    background-color: var(--color-background);
    color: var(--color-text-body);   
  }
  
}

@layer components{
  button, input, select{
    @apply border-2 border-accent-outer bg-accent-inner p-2 rounded-sm
  }

  a{
    @apply text-card-accepted decoration-card-accepted underline underline-offset-4 hover:decoration-card-offer hover:text-card-offer visited:text-card-interview visited:decoration-card-interview
  }

  .button-invisible{
    @apply border-0 bg-transparent p-2 rounded-none
  }

}

