@import "tailwindcss";

@theme{
  --color-background: #1b1613;
  --color-text-body: #948E87;
  --color-text-darker: #6F6962;
  --color-accent-outer: #3d372b;
  --color-accent-inner: #28241b;

  --color-card-offer: #817866;
  --color-card-applied: #9c9549;
  --color-card-interview: #30375f;
  --color-card-rejected: #a70000;
  --color-card-ghosted: #424a4e;
  --color-card-accepted: #5d6b49;

  --font-rosarivo: "Rosarivo", Georgia, "Times New Roman", Times, serif;
  --font-alegreya: "Alegreya Sans", "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", sans-serif;


  --animate-falldown: falldown .35s 0s linear 1 forwards;
  --animate-falldown-reverse: falldownReverse .35s 0s linear 1 forwards;
  --animate-revealcard: revealCard .35s 0s ease 1 forwards;

  @keyframes falldown{
    0%{
      opacity: 0;
      transform:translateY(-30vh);
    }
    25%{
      opacity: 0%;
    }
    100%{
      opacity: 100%;
      transform:translateY(0)
    }
  }

  @keyframes falldownReverse{
    0%{
      opacity: 100%;
      transform:translateY(0);
    }
    25%{
      opacity: 100%;
    }
    100%{
      opacity: 0;
      transform:translateY(-30vh)
    }
  }

  @keyframes revealCard {
    0%{      
      transform:rotateY(180deg);
    }
    100%{      
      transform:rotateY(0deg);

    }
  }
}

@layer base{

  html, dialog{
    background-color: var(--color-background);
    color: var(--color-text-body);  
  }

  h1,h2,h3,h4,h5,h6,q,strong,label{
    font-family: var(--font-rosarivo);
    letter-spacing: 0.05em;
  }

  p,a,li,span,aside,em,i{
    font-family: var(--font-alegreya);
    font-weight: 500;
    letter-spacing: 0.15em;
  }

  button, input, select{
    @apply border-2 border-accent-outer bg-accent-inner p-2 rounded-sm
  }

  a{
    @apply text-card-accepted decoration-card-accepted underline underline-offset-4 hover:decoration-card-offer hover:text-card-offer visited:text-card-interview visited:decoration-card-interview
  }
  
}

@layer components{


  .button-invisible{
    @apply border-0 bg-transparent p-2 rounded-none cursor-pointer
  }

}

