@import "tailwindcss";

@theme{
  --color-background: oklch(20.5% .01 48.21);
  --color-text-body: oklch(65% 0.013 75.24);
  --color-accent-outer: oklch(34% .022 85.262);
  --color-accent-inner: oklch(26% .016 85.262);

  --color-card-offer: oklch(18.25% 0.005 82.262);
  --color-card-pending: oklch(27.25% .018 82.262);
  --color-card-interview: oklch(24.048% 0.01039 311.942);
  --color-card-rejected: oklch(10% 0.07 0);
  --color-card-ghosted: oklch(19.048% 0.003 215);
  --color-card-accepted: oklch(24.048% 0.01039 125.942);
}

@layer base{
  html{
    background-color: var(--color-background);
    color: var(--color-text-body);
  }
}


