@import "tailwindcss";

@theme{
  --color-background: oklch(20.5% .01 48.21);
  --color-text-body: oklch(65% 0.013 75.24);
  --color-accent-outer: oklch(34% .022 85.262);
  --color-accent-inner: oklch(26% .016 85.262);

  --color-card-offer: oklch(65% 0.013 75.24);
  --color-card-applied: #817866;
  --color-card-interview: #30375f;
  --color-card-rejected: #a70000;
  --color-card-ghosted: #424a4e;
  --color-card-accepted: #5d6b49;
}

@layer base{
  html{
    background-color: var(--color-background);
    color: var(--color-text-body);
   
  }
  
}

@layer components{
  button, input{
    @apply border-2 border-accent-outer bg-accent-inner p-2 rounded-sm
  }

  .button-invisible{
    @apply border-0 bg-transparent p-2 rounded-none
  }

}

